<form action="/merchants" method="post">

  <label for="merchant-name">Merchant name:</label>
  <input id="merchant-name" type="text" name="merchant_name">

  <input type="submit" value="Save">

</form>
