<div class="merchant-background">
<h3>Merchants</h3>

<p><a href="/merchants/new">Add new merchant</a></p>

<ul>
  <% for merchant in @merchants%>
  <%=merchant.merchant_name%>
  <form action="/merchants/<%= merchant.id %>/delete" method="POST">
    <input type="submit" value="Delete"/>
    </form>
  <%end%>

</ul>
</div>
