<!DOCTYPE html>
<html>

  <head>

    <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  </head>

  <body>

    <header>
      <h1>Bobber</h1>
      <h5>The app that helps you keep track of your spending.</h5>
      <%erb(:"wallet/cash_balance")%>
    </header>

    <nav>
    <ul>
      <li>
        <a href="/wallet">Your wallet</a>
      </li>
      <li>
        <a href="/transactions">Transactions</a>
      </li>
      <li>
        <a href="/merchants">Merchants</a>
      </li>
    </ul>

    <section id="content">
    <%= yield %>
    </section>

</html>
