<!DOCTYPE html>
<html>

  <head>
    <title>Budget Tracker</title>

    <meta charset="UTF-8">
  </head>




  <body>
    <header>
      <h1>Budget tracker</h1>
    </header>

    <section id="content">
      <%= yield %>
    </section>



</html>
