<!DOCTYPE html>
<html>

  <head>

    <link rel="stylesheet" type="text/css" href="/styles/styles.css">

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

  </head>

  <body>

    <header>
      <h1>Miss Spendalot's Budget Tracker</h1>
      <h5>The app that helps you keep track of your spending.</h5>
    </header>

    <hr>

    <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/wallet">Your wallet</a>
      </li>
      <li>
        <a href="/transactions">Transactions</a>
      </li>
      <li>
        <a href="/merchants">Merchants</a>
      </li>
    </ul>

    <hr>

    <section id="content">
    <%= yield %>
    </section>

</html>
