<!DOCTYPE html>
<html>

  <head>
  </head>




  <body>

    <header>
      <h1>Bobber</h1>
      <h5>The app that helps you keep track of your spending.</h5>
      <h3>Current balance:</h3>
    </header>

    <nav>
    <ul>
      <li>
        <a href="/wallet">Your wallet</a>
      </li>
      <li>
        <a href="/transactions">Transactions</a>
      </li>
      <li>
        <a href="/merchants">Shops</a>
      </li>
    </ul>

    <section id="content">
    <%= yield %>
    </section>

</html>
