<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/layout.css">

  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">

</head>

<body>
    <header>
      <h1>Miss Spendalot's Budget Tracker</h1>
      <h5>The app that helps you keep track of your spending.</h5>
    </header>

    <main class="column-layout">
    <nav class="nav-column">
      <div>
        <a href="/">Home</a>
      </div>

      <div>
        <a href="/wallet">Your wallet</a>
      </div>

      <div>
        <a href="/transactions">Transactions</a>
      </div>

      <div>
        <a href="/merchants">Merchants</a>
      </div>
    </nav>


    <section class="main-column" id="content">
      <%= yield %>
    </section>

  </main>

</body>

</html>
