<!DOCTYPE html>
<html>

  <head>
    <title>Budget Tracker</title>

    <link href="/public/styles/structure.css" type="text/css" rel="stylesheet"></link>

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400, 700" rel="stylesheet">

    <meta charset="UTF-8">
  </head>




  <body>
    <header>
      <h1 class="right">Budget tracker</h1>
      <h1 class="left"><%@wallet.cash_balance%>
    </header>

    <section id="content">
      <%= yield %>
    </section>

  </body>



</html>
