
p, h1, h2, h3, h4, h5 {
  font-family: 'Quicksand', sans-serif;
}

/* TABLE */
table {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 80%;
}

label {
  font-family: 'Quicksand', sans-serif;
}

button {
  font-family: 'Quicksand', sans-serif;
}

select {
  font-family: 'Quicksand', sans-serif;
}

ul {
  font-family: 'Quicksand', sans-serif;
}

li {
  font-family: 'Quicksand', sans-serif;
}

thead th {
  background: #31537F;
  font-family: 'Quicksand', sans-serif;
  color: #FFF;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

th, td {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  padding: 5px;
  text-align: left;
  width: 33.3333%;
  font-size: 16px;
}
